
<nav class="bg-white alfresco-header"  *ngIf="!isMobileMenu()">
  <a class="logo" href="#">
    <img src="assets/img/logos/logo_acueducto.png">
  </a>
  <div class="container-items" id="navbarNavDropdown">
      <ul class="flex-items">
        <li *ngFor="let menuitem of menuItems; let i = index" class="nav-item dropdown hover-items">
          <a class="nav-link dropdown-toggle links-nav" href="javascript:;" id="navbarDropdownMenuLink{{i}}" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'active': router.url.includes(menuitem.ruta)}">
              {{ menuitem.nombre | translate }}
          </a>
          <div class="dropdown-menu" style="max-height: 400px; overflow-y: auto;" aria-labelledby="navbarDropdownMenuLink{{i}}">
              <a *ngFor="let subMenuCol of subMenuCols[menuitem.idModulo]" class="dropdown-item" 
                  [routerLink]="subMenuCol.ruta_completa ? subMenuCol.route : subMenuCol.ruta_completa ? subMenuCol.route : '/' + menuitem.ruta + '/' + subMenuCol.route" 
                  routerLinkActive="active-link"
                  [ngClass]="{'active-link': router.url.includes(subMenuCol.ruta_completa ? subMenuCol.route : '/' + menuitem.ruta + '/' + subMenuCol.route)}">
                  {{ subMenuCol.name }}
              </a>
          </div>
        </li>
      
        <li class="nav-item dropdown">
            <a class="links-nav dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">settings</i>
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" [routerLink]="[rutaMiCuenta]">
                    {{ "adminAsside.myAcount" | translate }}
                </a>
                <a class="dropdown-item" (click)="logout()">
                    {{ "adminAsside.logout" | translate }}
                </a>
            </div>
        </li>
      </ul>
  </div>
</nav>


<!--CONFIGURACION MOBILE-->
<button mat-button *ngIf="!isMenuVisible" class="navbar-toggler btn-no-ripple absolute-button" type="button" (click)="toggleMenuVisibility()">
  <i class="material-icons">menu</i>
</button>

<div class="overlay" [class.show]="isMenuVisible" (click)="toggleMenuVisibility()"></div>

<div class="mobile-menu" [class.show]="isMenuVisible">

  <div class="header-mobile">
    <button class="button-mobile" type="button" (click)="toggleMenuVisibility()">
      <i class="material-icons">close</i>
    </button>
    <a class="logo-mobile" href="#">
      <img src="assets/img/logos/logo_acueducto.png">
    </a>
  </div>
  
  <div class="content-menu">
    <ul class="col-items ul-not-styles">
      <li *ngFor="let menuitem of menuItems; let i = index" 
      [class.active]="router.url.includes(menuitem.ruta)" 
      [class.open]="openSubMenuIndex === i"
      class="nav-item-mobile">
        <a class="links-nav-mobile" href="javascript:void(0);" (click)="toggleSubMenu(i)">
          {{ menuitem.nombre | translate }}
          <i class="material-icons chevron">expand_more</i>
        </a>
        <div *ngIf="openSubMenuIndex === i" class="sub-menu">
          <a *ngFor="let subMenuCol of subMenuCols[menuitem.idModulo]" class="sub-menu-item" 
              [routerLink]="[subMenuCol.ruta_completa ? subMenuCol.route : '/' + menuitem.ruta + '/' + subMenuCol.route]" 
              routerLinkActive="active-link"
              (click)="selectSubItem(i)">
            {{ subMenuCol.name | translate }}
          </a>
        </div>
      </li>

      <li class="nav-item-mobile dropdown">
        <a class="links-nav-mobile dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">settings</i>
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" [routerLink]="[rutaMiCuenta]">
                {{ "adminAsside.myAcount" | translate }}
            </a>
            <a class="dropdown-item" (click)="logout()">
                {{ "adminAsside.logout" | translate }}
            </a>
        </div>
      </li>
    </ul>
  </div>
</div>






<!-- Start config Mobile -->

<div *ngIf="isMobileMenu()">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      
      <div class="collapse" id="configHelp">
        <ul class="nav">
          <li class="nav-item" (click)="changeLanguage({ data: 'es' })">
            <a class="nav-link">
              <div class="photoLanguage">
                <img
                  src="./assets/img/i18n/001-colombia.png"
                  alt="{{ 'Español' | translate }}"
                  title="{{ 'Español' | translate }}"
                />
              </div>
              <span class="sidebar-normal">{{ "Español" | translate }}</span>
            </a>
          </li>
          <li class="nav-item" (click)="changeLanguage({ data: 'en' })">
            <a class="nav-link">
              <div class="photoLanguage">
                <img
                  src="./assets/img/i18n/003-united-states.png"
                  alt="{{ 'Ingles' | translate }}"
                  title="{{ 'Ingles' | translate }}"
                />
              </div>
              <span class="sidebar-normal">{{ "Ingles" | translate }}</span>
            </a>
          </li>
          <a class="nav-item" [routerLink]="['/help']">
            <a class="nav-link">
              <i class="material-icons">contact_support</i>
              <span class="sidebar-normal">{{ "Ayuda" | translate }}</span>
            </a>
          </a>
        </ul>
      </div>
    </li>
  </ul>
</div>
<!-- End config Mobile -->