a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

menu{
  padding: 0;
}
.menu-juridical{
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-juridical li a{
  font-weight: 300;
  color: #A4A4AD;
}

.menu-juridical li span{
  color: #A4A4AD;
}

.menu-juridical li a:hover{
  color: #023F5E;
}

.menu-juridical li a.router-link-active-juridical{
  color: #023F5E;
}