.toast_wrapper {
    background-color: #ffffff;
    border: 1px solid rgba(149, 155, 188, 0.5);
    position: fixed;
    z-index: 100;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 380px;
    max-width: 420px;
    word-break: break-word;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-left-color: #00A3E4;
    border-radius: 0;
  }
  
  .inner_wrapper {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    gap: 12px;
    padding: 22px 22px;
  }
  
  .toast_title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 4px;
  }
  
  .toast_text {
    font-size: 14px;
    font-weight: normal;
    color: #4b4b4b;
  }
  
  .progress_bar {
    width: 100%;
    height: 5px;
    background: #f44336;
    position: relative;
  }
  
  .progress_bar.success {
    background: #00A3E4;
  }
  
  .toast_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44336;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
  }
  
  .divider {
    height: 50px;
    width: 1px;
    background-color: #00A3E4;
    margin: 0 12px;
  }
  