<div class="card" *ngIf="allAttachment.length > 0">
    <div class="card-body">
        <h3 class="title"><strong>Adjuntos</strong></h3>
        <div class="attachments-container">
            <div *ngFor="let archivo of allAttachment; let i = index" class="attachment-column">
                <!-- Card individual -->
                <mat-card class="attachment-card">
                    <!-- casilla documento -->
                    <div class="casilla">
                        <h6 style="color: #A4A4AD;">
                            <strong>{{ 'Soporte ' + (i + 1) }}</strong>
                        </h6>
                        <div class="document-card" (click)="downloadPdf(archivo.nombre_archivo, archivo.ruta_archivo)">
                            <img src="assets/img/pdf-icon.svg">
                            <h5><strong>{{ archivo.nombre_archivo }}</strong></h5>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- Subir archivos -->
<div class="container" *ngIf="uploadFile">
    <div class="content">
        <label>Cargar archivo(s)</label>
        <input type="file" id="upload" (change)="onFileChange($event, 'file')" style="display: none;">
        <label class="upload-btn" id="upload" for="upload">
            Seleccionar archivos</label>

        <div class="table-container scrollable">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre anexo </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- ver Column -->
                <ng-container matColumnDef="ver">
                    <th mat-header-cell *matHeaderCellDef> Ver </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" (click)="openFile(element)">Ver</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>
    </div>
</div>