.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.card-body {
    padding: 15px;
}

.title {
    color: #000000;
    font-weight: 844px;
    font-family: 'Poppins', sans-serif;
}

.attachments-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.attachment-column {
    flex: 1 1 calc(50% - 10px); /* Two columns, with a small gap */
    max-width: calc(50% - 10px);
    box-sizing: border-box;
    padding: 5px; /* To add some spacing between columns */
}

.attachment-card {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
}

.casilla {
    width: 100%;
    height: auto; /* Adjusted to fit content */
}

.document-card {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%; /* Ensure it doesn't overflow */
    border: 2px solid #e0e0e0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.document-card img {
    margin-right: 8px;
}

h5 {
    white-space: nowrap; /* Ensure the text doesn't wrap */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.container{
    height: 100vh;
}
.content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: start;
    padding: 20px;
}

.content label {
    font-weight: bold;
    margin: 0 auto;
}

.upload-btn {
    padding: 8px 16px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    text-align: center;
}

.table-container {
    display: grid;
    border: 1px solid black;
    padding: 8px;
    align-items: center;
    gap: 10px;
}

.table-container div {
    padding: 4px;
}

.table-container .header {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid black;
}

.table-container .link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.icon {
    text-align: center;
}

.table-container .scrollable {
    max-height: 100px;
    overflow-y: auto;
}

.icon img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
