
.container {
    flex: 1;
    width: 100%;
    max-width: 260px;
    background: #ffffff;
    border-bottom: 1.5px solid #008ed6;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px 20px;
    transition: transform 1s;
  }
  
  .container:hover {
    transform: scale(1.05);
  }
  
  .icon {
    float: left;
  }
  
  .arrow {
    float: right;
  }
  
  .link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #00A3E4;
  }
  