.efiling-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .efiling-container mat-form-field .width-33 {
    width: 33%;
  }

  .efiling-container .width-50 {
    width: 50%;
  }

  .efiling-container .width-100 {
    width: 100%;
  }
  
  .efiling-container form {
    margin-bottom: 20px;
  }
  
  .efiling-container form > * {
    margin: 12px 0;
  }
  
  .efiling-container .mat-radio-button {
    margin: 0 12px;
  }
  
  .efiling-form-fields {
    display: flex;
    align-items: flex-start;
  }

  .efiling-form-fields .efiling-input {
    height: 19px;
  }

  .card-margin-button {
    margin-bottom: 20px;
  }

  .efiling-button-row {
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
  }

  .efiling-button-row button {
    display: table-cell;
    max-width: 600px;
    margin: 8px 8px 8px 0;
  }

  .efiling-button-row div {
    display: inline-table;
    margin: auto;
  }

  .alarm-green {
    color: #0fe01d;
  }

  .alarm-yellow {
    color: #eae312;
  }

  .alarm-red {
    color: #e80a0a;
  }