.button-filter{
  display: flex;
  align-items: center;
  height: 44px;
  width: fit-content;
  padding: 12px 20px;
  border-radius: 12px;
  gap: 5px;
  border: none;
  color: #fff;
  background-color: #00A3E4;
}

.icon-filter{
  color: #fff;
}