<div class="d-flex flex-column align-items-center modal-container">
    <span class="material-icons text-primary modal-icon">
        {{data.showIcon}}
    </span>

    <p class="text-center my-3 w-100 modal-message" [innerHTML]="data.message">{{ data.message }}</p>
    <p class="text-center mb-25 w-100 modal-description">{{ data.description }}</p>

    <div class="d-flex flex-wrap align-items-center" style="gap: 10px">
        <button *ngIf="!data?.btnCancelIsHide" class="btn bg-white border border-primary rounded py-3 px-5 text-primary" (click)="close()">Cancelar</button>
        <button class="btn bg-primary text-white rounded border-0 py-3 px-5" (click)="handleSubmit()">Aceptar</button>
    </div>
</div>
