<!-- Componente de anexos -->
<div class="card">
    <div class="card-body">

        <h3 class="title">
            Información general
        </h3>

        <!-- CAMPOS: Radicado, Fecha de creación, Status aviso, Hora creación, Fecha Inicio deseado, Fecha fin deseado  -->
        <div class="grid-container">
            <div class="column">
                <div class="label">Radicado</div>
                <div class="value">{{ numeroRadiRadicado }}</div>
            </div>
            <div class="column">
                <div class="label">Fecha de creación</div>
                <div class="value">{{ fcreacionRadicado | date: 'dd/MM/yyyy' }}</div>
            </div>

            <div class="column">
                <div class="label">Status aviso</div>
                <div class="value">{{ statusAviso }}</div>
            </div>
            <div class="column">
                <div class="label">Hora creación</div>
                <div class="value">{{ horaCreacion }}</div>
            </div>

            <div class="column">
                <div class="label">Fecha inicio deseado</div>
                <div class="value">{{ fechaInicioDeseadaSap | date: 'dd/MM/yyyy' }}</div>
            </div>
            <div class="column">
                <div class="label">Fecha fin deseado</div>
                <div class="value">{{ fechaFinDeseado | date: 'dd/MM/yyyy' }}</div>
            </div>
        </div>

        <!-- CAMPOS: Descripción -->
        <div class="item-unit">
            <div class="column">
                <div class="label">Circunstancias</div>
                <div class="value">{{ circustancias }}</div>
            </div>
        </div>
        <!-- CAMPOS: Circunstancias -->
        <div class="item-unit">
            <div class="column">
                <div class="label">Descripción</div>
                <div class="value">{{ descripcion }}</div>
            </div>
        </div>

        <!-- CAMPOS: Número aviso, Clase aviso, Funcionario, Número de orden, Autor aviso -->
        <div class="grid-container">
            <div class="column">
                <div class="label">Número aviso</div>
                <div class="value">{{ numeroAviso }}</div>
            </div>
            <div class="column">
                <div class="label">Clase aviso</div>
                <div class="value">{{ claseAviso }}</div>
            </div>

            <div class="column">
                <div class="label">Funcionario</div>
                <div class="value">{{ funcionario }}</div>
            </div>
            <div class="column">
                <div class="label">Número de orden</div>
                <div class="value">{{ numeroOrden }}</div>
            </div>

            <div class="column">
                <div class="label">Autor aviso</div>
                <div class="value">{{ autorAvisoSap }}</div>
            </div>
        </div>

    </div>
</div>


<!-- Componente de anexos editables -->
<app-modify-attachments *ngIf="detailObjectValid?.key_tipo_tarea == 'DESIGNAR_RESPONSABLE' ||  (detailObjectValid?.observacion && detailObjectValid?.key_tipo_tarea == 'EVALUAR_SOLICITUD')" [attachmentsDetail]="attachments" (attachmentsChanged)="handleAttachmentsChanged($event)"
    ></app-modify-attachments>


<!-- card aclaraciones -->
<div class="card"
*ngIf="detailObjectValid?.key_tipo_tarea == 'DESIGNAR_RESPONSABLE' ||  (detailObjectValid?.observacion && detailObjectValid?.key_tipo_tarea == 'EVALUAR_SOLICITUD')">
    <div class="card-body">
        <h3 class="title"><strong>Respuesta</strong></h3>
        <mat-card class="mt-4 border-2 border w-100">
            <form class="form">

                <h6 style="color: #A4A4AD; "><strong>Aclaraciones</strong></h6>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Inserte" [formControl]="aclaration">
                </mat-form-field>

            </form>
        </mat-card>
    </div>
</div>