<!-- Componente de ruta de navegación -->
<app-sub-menu-ocupational [ItemsMenu]="items"></app-sub-menu-ocupational>

<mat-tab-group #stepper>
    <!-- Primera pestaña -->
    <mat-tab label="Notificaciones">
        <!-- Componente de la tabla -->
        <app-table-requests></app-table-requests>
    </mat-tab>
    <mat-tab label="Solicitud"></mat-tab>
    <mat-tab label="Anexos"></mat-tab>
    <h1>En proceso de prueba</h1>

</mat-tab-group>


<!-- <app-pagination></app-pagination> -->
