<div class="card">
    <div class="card-body">
        <div class="contenedorCard">

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <h3 style="color: #000000; font-weight: 300; font-family: 'Poppins', sans-serif;">
                            <strong>Aclaraciones & Observaciones </strong>
                        </h3><br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><strong>Fecha</strong></th>
                                    <th><strong>Rol</strong></th>
                                    <th><strong>Usuario</strong></th>
                                    <th><strong>Aclaración | Observación </strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let observacion of dataTableObservations">
                                    <td>{{ observacion.updated_at | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ observacion?.key_tipo_tarea }}</td>
                                    <td>{{ observacion?.usuario }}</td>
                                    <td>{{ observacion?.observaciones }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>