<section class="container-tree mt-3">
  <div *ngFor="let subprocess of getTreeData()" class="acordion border-3x">
    <button class="card-tree row d-flex w-100">
      <div class="card-tree-h row " (click)="onToggleExpendSubProcess(subprocess)">
        <i class="material-icons returnaq-icon iconos mr-1"
          [style.color]="subprocess.expanded ? '#023F5E' : '#E2E2E2'">{{ subprocess.expanded ? 'expand_less' :
          'expand_more'
          }}</i>
        <!-- Aplicamos la clase condicionalmente -->
        <span class="codetitle d-inline-block mr-5"
          [ngClass]="{'blue-text': subprocess.expanded}">{{subprocess.subProcess.code}}</span>
        <span class="treetitle ml-4" [ngClass]="{'blue-text': subprocess.expanded}">{{ subprocess.subProcess.name
          }}</span>
      </div>
      <button *ngIf="subprocess.expanded" class="card-tree-b p-0  ">
        <div *ngFor="let document of subprocess.subProcess.documents" class="acordion w-100">
          <div class="card-tree-inter w-100 ">
            <button class="card-tree-h file container-file" (click)="onToggleExpendDocuments(subprocess,document)">
              <i class="material-icons returnaq-icon iconos"
                [style.color]="document.expanded ? '#023F5E' : '#E2E2E2'">{{ document.expanded ? 'expand_less' :
                'expand_more' }}</i>
              <!-- Aplicamos la clase condicionalmente -->
              <span class=" mr-2 codetitle-treeh d-inline-block treetitle"
                [ngClass]="{'blue-text': document.expanded}">{{document.documents.code}}</span>
              <span class="treetitle" [ngClass]="{'blue-text': document.expanded}">
                {{ document.documents.name | cleanName:document.documents.code }}</span>
            </button>
            <div *ngIf="document.expanded">
              <div *ngFor="let file of document.documents.files " class="file contain-filed ">
                <ng-container *ngIf="file.extesion !== 'vsdx'">
                  <img src='assets/img/logos/TreeIconfiles.svg' class="material-icons returnaq-icon mr-1 ml-4" />
                  <ng-container [ngSwitch]="file.extesion">
                    <img class="iconostypefile mr-1" *ngSwitchCase="'xlsx'" src='assets/img/logos/excel-icon.svg'
                      alt="Excel Icon">
                    <img class="iconostypefile mr-1" *ngSwitchCase="'docx'" src='assets/img/logos/word-icon.svg'
                      alt="Word Icon">
                    <img class="iconostypefile mr-1" *ngSwitchCase="'pptx'" src='assets/img/logos/powerpoint-icon.svg'
                      alt="PowerPoint Icon">
                  </ng-container>
                  <span class="treetitle black-text"> {{ file.name | cleanName:file.code }}</span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </button>
    </button>
  </div>
</section>