.card-height {
    height: 200px;
}

.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
    font-size: 1.4rem;
}

.mat-button.btn.btn-outline-primary, .mat-raised-button.btn.btn-outline-primary, .mat-raised-button.btn:not([class*="mat-elevation-z"]).btn-outline-primary, .btn.btn-outline-primary {
    border-color: #fff;
    margin-left: 10px;
}

.mat-button.btn, .mat-button.btn.btn-default, .mat-raised-button.btn, .mat-raised-button.btn.btn-default, .mat-raised-button.btn:not([class*="mat-elevation-z"]), .mat-raised-button.btn:not([class*="mat-elevation-z"]).btn-default, .btn, .btn.btn-default {
    box-shadow: none;
}