.navbar-section-title {
    color: #6C6B76; font-weight: 600; font-size: 14px;
}

.navbar-section.subtitle {


font-size: 13px;
font-weight: 400;
line-height: 16px;


}

.example-sidenav {
    box-shadow: 15px 15px 36px -31px rgba(0,163,228,0.88);
    -webkit-box-shadow: 15px 15px 36px -31px rgba(0,163,228,0.88);
    -moz-box-shadow: 15px 15px 36px -31px rgba(0,163,228,0.88);
}


.dropdown-item{
    white-space: pre-line;
}