<div class="d-flex flex-column align-items-center modal-container">
  <span class="material-icons text-primary modal-icon">
      help
  </span>

  <p class="text-center my-3 w-100 modal-message">¿Está seguro de la acción a realizar?</p>

  <div class="d-flex flex-wrap align-items-center" style="gap: 10px">
      <button class="btn bg-white border border-primary rounded py-3 px-5 text-primary" (click)="onCloseModal()">Cancelar</button>
      <button class="btn bg-primary text-white rounded border-0 py-3 px-5"  (click)="submit()">Aceptar</button>
  </div>
</div>
