table {
  width: 100%;
  border-collapse: collapse; /* Para mejorar la visualización de las filas */
}

thead th {
  text-align: center;
}

.sub-title {
  font-weight: 500;
}

a {
  text-decoration: underline;
}

/* Ajustes para las celdas de la tabla */
td {
  display: table-cell;
  padding: 17px;
  text-align: center;
  padding: 1em; /* Ajuste del padding para un mejor espaciado */
  white-space: nowrap; /* Evita que el texto se desborde horizontalmente */
  overflow: hidden; /* Oculta cualquier desbordamiento de texto */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto es demasiado largo */
}

/* Estilos para las filas del cuerpo de la tabla */
tbody tr {
  border-bottom: 1px solid #E3E4E5;
}

/* Ajustes para imágenes dentro de las celdas */
.img-document {
  width: 100%; /* La imagen ocupará el 100% del ancho de la celda */
  max-width: 100px; /* Ajuste para limitar el ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

.pagination-container {
  overflow-x: auto;
}