<app-breadcrumb [breadcrumbOn]="breadcrumbOn" [breadcrumbRouteActive]="breadcrumbRouteActive"></app-breadcrumb>

<div class="main-content">
    <div class="container-fluid">

        <!-- Start Row One -->
        <div class="row">
            <!-- start Detail card -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">{{ initCardHeaderIcon }}</i>
                        </div>
                        <h4 class="card-title">
                            {{ textFormView | translate}}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let row of dataRows; let i = index">
                                                <th [ngClass]="(row.color ? row.color: '')">{{ row.alias | translate }}
                                                </th>
                                                <td [ngClass]="(row.color ? row.color: '')" *ngIf="!row.show">{{
                                                    row.value }}</td>
                                                <td [ngClass]="(row.color ? row.color: '')" *ngIf="row.show">
                                                    <a routerLink="{{ row.href }}">{{ row.value }}</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <!-- End Detail card -->

            <!-- start Detail card -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">{{ initCardHeaderIcon }}</i>
                        </div>
                        <h4 class="card-title">
                            {{ textFormView2 | translate}}
                            <!-- <mat-icon *ngIf="editMode && isNumber(idLocationFile)" style="color: green; cursor: pointer; margin-left: 30%" (click)="toggleEditMode()">edit</mat-icon>
                            <mat-icon *ngIf="editMode && isNumber(idLocationFile)" style="color: blue; cursor: pointer;" (click)="editLocationForm()">save</mat-icon>
                            <mat-icon *ngIf="!editMode && isNumber(idLocationFile)" style="color: red; cursor: pointer; margin-left: 30%" (click)="toggleEditMode()">edit</mat-icon> -->
                        </h4>
                    </div>
                    <div class="card-body">
                        <form id="moduleForm" [formGroup]="moduleForm" class="form-horizontal" (ngSubmit)="submitForm()">

                            <!-- Start card One -->
                            <div class="card ">
                                <!--<div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">{{ initCardHeaderIcon }}</i>
                                    </div>
                                    <h4 class="card-title">{{ textForm | translate }}</h4>
                                </div>-->
                                <div class="card-body ">

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Departamento' | translate }}</mat-label>
                                                <mat-select id="idDepartamentoGaEdificio" formControlName="idDepartamentoGaEdificio" name="idDepartamentoGaEdificio" (selectionChange)="getListMunicipio($event.value)" (onChange)="getListMunicipio($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listDepartFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let depart of filteredlistDepart | async" [value]="depart.id">
                                                        {{ depart.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get( 'idDepartamentoGaEdificio').valid && moduleForm.get( 'idDepartamentoGaEdificio').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Municipio' | translate }}</mat-label>
                                                <mat-select id="idMunicipioGaEdificio" formControlName="idMunicipioGaEdificio" name="idMunicipioGaEdificio" (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listMunicipiosFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let municipio of filteredlistMunicipios | async" [value]="municipio.id">
                                                        {{ municipio.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get( 'idMunicipioGaEdificio').valid && moduleForm.get( 'idMunicipioGaEdificio').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Edificio' | translate }}</mat-label>
                                                <mat-select id="idGaEdificio" formControlName="idGaEdificio" name="idGaEdificio" (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listEdificioFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let edificio of filteredlistEdificio | async" [value]="edificio.id">
                                                        {{ edificio.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get( 'idGaEdificio').valid && moduleForm.get( 'idGaEdificio').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Piso' | translate }}</mat-label>
                                                <mat-select id="idGaPiso" formControlName="idGaPiso" name="idGaPiso" (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listPisoFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let piso of filteredlistPiso | async" [value]="piso.id">
                                                        {{ piso.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get( 'idGaPiso').valid && moduleForm.get( 'idGaPiso').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Área de archivo' | translate }}</mat-label>
                                                <mat-select id="idGaBodega" formControlName="idGaBodega" name="idGaBodega" (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listBodegaFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let bodega of filteredlistBodega | async" [value]="bodega.id">
                                                        {{ bodega.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get( 'idGaBodega').valid && moduleForm.get( 'idGaBodega').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div *ngFor="let uconserva of dataUConserva ? viewDataForm(dataUConserva) : [] ; let iUconser = index; " class="col-lg-3 col-md-3 col-sm-12 col-xs-12 checkbox-radios">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input class="form-check-input"  type="radio" formControlName="unidadConservacionGaArchivo" name="unidadConservacionGaArchivo" value="{{ dataUConserva[uconserva] }}" [checked]="( valueConservacion == dataUConserva[uconserva] ? true : false )"   > {{ uconserva }}
                                                <span class="circle">
                                                  <span class="check"></span>
                                                </span>
                                              </label>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Módulo' | translate }}</mat-label>
                                                <mat-select id="moduloGaArchivo" formControlName="moduloGaArchivo" name="moduloGaArchivo"
                                                    (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate"
                                                            [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate"
                                                            formControlName="listRackFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let rack of filteredlistModulo | async" [value]="rack.id">
                                                        {{ rack.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get('moduloGaArchivo').valid && moduleForm.get('moduloGaArchivo').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Pasillo' | translate }}</mat-label>
                                                <mat-select id="pasilloGaArchivo" formControlName="pasilloGaArchivo" name="pasilloGaArchivo" (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listPasilloFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let row of filteredlistPasillo | async" [value]="row.id">
                                                        {{ row.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get('pasilloGaArchivo').valid && moduleForm.get( 'pasilloGaArchivo').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Entrepaño' | translate }}</mat-label>
                                                <mat-select id="entrepanoGaArchivo" formControlName="entrepanoGaArchivo" name="entrepanoGaArchivo" (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listEntrepanoFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let entrepano of filteredlistEntrepano | async" [value]="entrepano.id">
                                                        {{ entrepano.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get( 'entrepanoGaArchivo').valid && moduleForm.get( 'entrepanoGaArchivo').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>


                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Caja' | translate }}</mat-label>
                                                <mat-select id="cajaGaArchivo" formControlName="cajaGaArchivo" name="cajaGaArchivo" (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listCajaFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let caja of filteredlistCaja | async" [value]="caja.id">
                                                        {{ caja.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get( 'cajaGaArchivo').valid && moduleForm.get( 'cajaGaArchivo').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field>
                                                <mat-label>{{ 'Código Caja' | translate }}</mat-label>
                                                <mat-select id="caja_id" formControlName="caja_id" name="caja_id" (selectionChange)="getListGeneral($event.value)" required>
                                                    <mat-option>
                                                        <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listCajasFilter" [searching]="true"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let caja of filteredlistCajas | async" [value]="caja.id">
                                                        {{ caja.val }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!moduleForm.get( 'caja_id').valid && moduleForm.get( 'caja_id').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field class="example-full-width" [ngClass]="{ 'has-success':validTextType===true}">
                                                <mat-label>{{ 'Unidad de conservación' | translate }}</mat-label>
                                                <input matInput type="text" id="unidadCampoGaArchivo" formControlName="unidadCampoGaArchivo" maxlength="20"
                                                    required>
                                                <mat-error
                                                    *ngIf="!moduleForm.get( 'unidadCampoGaArchivo').valid && moduleForm.get( 'unidadCampoGaArchivo').touched ">
                                                    {{ 'El campo es obligatorio' | translate }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <input type="hidden" id="idGaBodegaContenido" formControlName="idGaBodegaContenido" value="{{ dataIdBodegaContenido }}">

                                    </div>

                                </div>
                            </div>
                            <!-- End card One -->

                            <!-- <button type="submit" id="sendForm"> SEND</button> -->
                            <!-- <mat-icon *ngIf="isNumber(idLocationFile)" style="color: blue; cursor: pointer;" (click)="editLocationForm()">save</mat-icon> -->
                            <mat-icon style="color: blue; cursor: pointer;" (click)="editLocationForm()">save</mat-icon>
                        </form>
                        <!--<div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let row of dataLocation; let i = index">
                                                <th [ngClass]="(row.color ? row.color: '')">{{ row.alias | translate }}
                                                </th>
                                                <td [ngClass]="(row.color ? row.color: '')">
                                                    <ng-container *ngIf="editMode && row.alias != 'IdArchivo' && isNumber(idLocationFile); else viewMode">
                                                        <input matInput [(ngModel)]="row.value" type="text">
                                                    </ng-container>
                                                    <ng-template #viewMode>
                                                        <a [routerLink]="row.href">{{ row.value }}</a>
                                                    </ng-template>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>


            </div>
            <!-- End Detail card -->

            <!-- End history folder card -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-initial-list [classMainConten]="classMainConten" [classContainerFluid]="classContainerFluid"
                    [paramOID]="paramOID" [viewColumStatus]="viewColumStatus"
                    [initCardHeaderStatus]="initCardHeaderStatus" [initCardHeaderIcon]="initCardHeaderIcon"
                    [initCardHeaderTitle]="initCardHeaderTitle" [dtTitles]="dtTitles" [showButtonFiltrer]="false"
                    [routeLoadDataTablesService]="routeLoadDataTablesService"
                    (selectedRowsEmiter)="selectedRowsReceiveData($event)">
                </app-initial-list>
            </div>
        </div>
        <!-- End Row One -->
    </div>
</div>
