<mat-dialog-content class="modal-container">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <mat-icon class="text-primary">account_tree</mat-icon>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h2 mat-dialog-title class="w-100 mt-2 text-body">{{ data.title }}</h2>
  <p class="w-100">Completa los campos para realizar el proceso.</p>

  <form [formGroup]="form" class="row mx-2">
    <span class="d-flex flex-column col-md-6 col-lg-6">
      <label>Causales de rechazo</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select placeholder="Causal" formControlName="causal" (selectionChange)="changeCausales($event)">
          <mat-option *ngFor="let us of listCausales" [value]="us.value">{{us.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['causal'].invalid && form.controls['causal'].touched">
          Este campo es requerido
        </mat-error>
      </mat-form-field>
    </span>
    <span class="d-flex flex-column col-md-6 col-lg-6">
      <div *ngIf="isCausalOtro">
        <label>Causal otro</label>
        <mat-form-field appearance="outline" class="w-100">
          <input placeholder="Especifique" matInput formControlName="causal_otro">
          <mat-error *ngIf="form.controls['causal_otro'].invalid && form.controls['causal_otro'].touched">
            Este campo es requerido
          </mat-error>
        </mat-form-field>
      </div>
    </span>
    <span class="d-flex flex-column col-md-6 col-lg-6">
      <label>Observaciones</label>
      <mat-form-field appearance="outline" class="w-100">
        <input placeholder="observaciones" matInput formControlName="observaciones">
        <mat-error *ngIf="form.controls['observaciones'].invalid && form.controls['observaciones'].touched">
          Este campo es requerido
        </mat-error>
      </mat-form-field>
    </span>
  </form>


  <div class="d-flex flex-wrap flex-md-nowrap justify-content-center" style="gap: 10px">
    <button type="button" mat-stroked-button class="border border-primary text-primary bg-white w-100"
      (click)="close()">Cancelar</button>
    <button mat-flat-button class="bg-primary text-white w-100" (click)="accept()">Aceptar</button>
  </div>
</mat-dialog-content>