<app-breadcrumb [breadcrumbOn]="breadcrumbOn" [breadcrumbRouteActive]="breadcrumbRouteActive"></app-breadcrumb>

<app-initial-list [initCardHeaderStatus]="initCardHeaderStatus" [initCardHeaderIcon]="initCardHeaderIcon" [initCardHeaderTitle]="initCardHeaderTitle" 
[dtTitles]="dtTitles" [routeLoadDataTablesService]="routeLoadDataTablesService" [initBotonCreateRoute]="initBotonCreateRoute"
    (selectedRowsEmiter)="selectedRowsReceiveData($event)" (buttonRequestEmitter)="buttonRequestReceiveData($event)"
    [routeChangeStatus]="routeChangeStatus" [routeData]="route" [NoDecrypt]="NoDecrypt" 
    [showButtonFiltrer]="showButtonFiltrer" [showButtonRequest]="showButtonRequest" [showButtonNew]="showButtonNew" 
    [showButtonEdit]="showButtonEdit" (clickChangeStatus)="changeStatus($event)" [page]="page" [limit]="limit"></app-initial-list>
<app-floating-button [menuButtons]="menuButtons" (menuEmiterData)="menuReceiveData($event)"></app-floating-button>
